@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  object-fit: none;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
}

/* Diagrafh tou default cancel sto search */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
