@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  object-fit: none;
  padding: 0;
}

/* Gia na kanoun fullScreen ta video sto hover */
.parent-container .clip-container {
  transition: 1.5s ease-in-out;
}

.parent-container .clip-container:hover {
  width: 600vw;
  height: 100vh;
}
