body {
  background-color: #EEE3CB
}

/* Gia na kanoun fullScreen ta video sto hover */
.parent-container .clip-container {
  transition: 1.5s ease-in-out;
}

.parent-container .clip-container:hover {
  width: 500vw;
  height: 100vh;
}

/* Gia na kanei shift to content tou main otan ginetai hover to navbar sto Movies */
@media (min-width: 992px) {
  .nav-for-hover ~ .trending-page {
    transition: 0.7s ease-in-out;
  }

  .nav-for-hover:hover ~ .trending-page {
    margin-left: 5rem;
  }
}

/* Gia othones me mikro megethos, gia na kryvetai to navbar otan kanei o xrhsths scroll down */
.hide-nav {
  opacity: 0;
  z-index: -10;
  pointer-events: none;
  transition: 0.7s ease-in-out;
}

/* Gia na ginetai blur olo to content ektos tou search */
.blurred {
  transition: 0.6s ease-in-out;
  filter: blur(5px);
}

.blurred:hover {
  filter: blur(5px);
}
