@media ((min-width: 1024px )and (max-width: 1406px)) {
  .card-text-container {
    height: 45%;
  }

  .main-movies-pages,
  .main-shows-pages {
    margin-top: 0.5rem;
    margin-left: 6rem;
  }

  .recommended-movies, .recommended-shows {    
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-left: 16rem;
    margin-right: auto;    
    width: 75%;
  }
  
  .movies-grid,
  .shows-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-left: 15rem;
    margin-right: auto;
    gap: 15px;
    row-gap: 2rem;
    width: 65%;
  }

  .card-link {
    width: 85%;
    margin-bottom: 6rem;
    height: 100%;
  }

  .card-text-container {
    height: 60%;
  }

  main h1 {
    margin-left: 10rem;
  }
 
}
@media (max-width: 640px) {

  .image-div {
    width: 100%;
    height: 14rem;
  }

  .searchbar {
    width: 75%;
  }

  .search-result-title {
    text-align: start;
  }

  form div {
    align-items: center;
    justify-content: center;
  }

  .navbar {
    position: fixed;
    bottom: 0;
  }
}

@media (max-width: 768px) {
  nav {
    overflow-x: auto;
    width: 100%;
    z-index: 10;
    bottom: 0;
  }

  .image-li a {
    margin-top: 1.1rem;
    margin-right: -5px;
  }

  main > div,
  .rating {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  main div.flex.gap-4 {
    flex-direction: column;
  }  
  
  .main-movies-pages,
  .main-shows-pages {
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }


  .image-div {
    width: 12rem;
    height: 18rem;
  }
}

/* Gia na kanoun fullScreen ta video sto hover */
.parent-container .clip-container {
  transition: 1.5s ease-in-out;
}

.parent-container .clip-container:hover {
  width: 500vw;
  height: 100vh;
}

/* Gia na kanei shift to content tou main otan ginetai hover to navbar sto Movies */
@media (min-width: 1024px) {
  .nav-for-hover span:not(:first-child),
  .nav-for-hover .logout {
    display: none;
  }

  .nav-for-hover:hover span,
  .nav-for-hover:hover .logout {
    display: block;
  }
}

/* Gia othones me mikro megethos, gia na kryvetai to navbar otan kanei o xrhsths scroll down */
.hide-nav {
  opacity: 0;
  z-index: -10;
  pointer-events: none;
  transition: 0.7s ease-in-out;
}

/* Gia na ginetai blur olo to content ektos tou search */
.blurred {
  transition: 0.6s ease-in-out;
  filter: blur(5px);
}

.blurred:hover {
  filter: blur(5px);
}

/* dark theme */
body {
  background-color: #eee3cb; /* To arxiko background color */
  transition: all ease-in-out 0.2s;
  width: 100%;
  height: 100%;
}

/* cards */
.body-light .card-text-container,
.body-light .rec-text-container {
  background-color: #4c545b;
}

.body-dark .card-text-container,
.body-dark .rec-text-container {
  /* background-color: #704264; */
  background-color: #1f1f1f;
}

/* current page indicator */
.body-dark .current-page {
  background-color: #1f1f1f;
}

.body-light .current-page {
  background-color: #4c545b;
}

/* load more button */
.body-light .rec-button {
  background-color: #4c545b;
}

.body-light .rec-button:hover {
  background-color: #3a4045;
}

.body-dark .rec-button {
  background-color: #1f1f1f;
}

.body-dark .rec-button:hover {
  background-color: #2a2a2a;
}

.body-light .trending-button {
  background-color: #4c545b;
}

.body-dark .trending-button {
  background-color: #1f1f1f;
}

.body-light .watchlist-button {
  background-color: #4a5259;
}

.body-dark .watchlist-button {
  background-color: #1f1f1f;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px !important;
  height: 10px;
}
