@media (max-width: 640px) {
  .image-div {
    width: 100%;
    height: 12rem;
  }

  .navbar {
    position: fixed;
    bottom: 0;
  }
  .card-link {
    height: 20rem;
    z-index: -1;    
    margin-top: 1.1rem;
  }
  .movies-grid, .shows-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin: 2rem auto;        
    width: 100%;
    
  }
}

@media (max-width: 768px) {
  nav {
    overflow-x: auto;
    width: 100%;
    z-index: 10;
    bottom: 0;
  }
  .movies-grid, .shows-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin: 0 auto;    
    gap: 2rem;
    margin-top: 1rem;
  }

  .card-link {
    width: 80%;
    height: 20rem;
    z-index: -1;
    margin-bottom: 4rem;
  }
  .image-li a {
    margin-top: 1.1rem;
    margin-right: -5px;
  }
  .id-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  main > div,
  .rating {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .recommended-movies {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin: 0 auto;
  }

  .add-to-watchlist {
    margin: 0 auto;
  }

  main div.flex.gap-4 {
    flex-direction: column;
  }
  .recommendation-image-container {
    width: 100%;
    height: 100%;
  }

  .recommended-link {
    margin-bottom: 11rem;
  }

  .image-container,
  .image-div {
    width: 12rem;
    height: 18rem;
  }
}

/* Gia na kanoun fullScreen ta video sto hover */
.parent-container .clip-container {
  transition: 1.5s ease-in-out;
}

.parent-container .clip-container:hover {
  width: 500vw;
  height: 100vh;
}

/* Gia na kanei shift to content tou main otan ginetai hover to navbar sto Movies */
@media (min-width: 992px) {
  .nav-for-hover ~ .trending-page {
    transition: 0.7s ease-in-out;
  }

  .nav-for-hover:hover ~ .trending-page {
    margin-left: 5rem;
  }

  .nav-for-hover span,
  .nav-for-hover .logout {
    display: none;
  }

  .nav-for-hover:hover span,
  .nav-for-hover:hover .logout {
    display: block;
  }
}

/* Gia othones me mikro megethos, gia na kryvetai to navbar otan kanei o xrhsths scroll down */
.hide-nav {
  opacity: 0;
  z-index: -10;
  pointer-events: none;
  transition: 0.7s ease-in-out;
}

/* Gia na ginetai blur olo to content ektos tou search */
.blurred {
  transition: 0.6s ease-in-out;
  filter: blur(5px);
}

.blurred:hover {
  filter: blur(5px);
}

/* dark theme */
body {
  background-color: #eee3cb; /* To arxiko background color */
  transition: all ease-in-out 0.2s;
  width: 100%;
  height: 100%;
}

/* cards */
.body-light .cards {
  background-color: #4c545b;
}

.body-dark .cards {
  background-color: #704264;
}

/* current page indicator */
.body-dark .current-page {
  background-color: #704264;
}

.body-light .current-page {
  background-color: #4c545b;
}

/* load more button */
.body-light .rec-button {
  background-color: #4c545b;
}

.body-light .rec-button:hover {
  background-color: #3a4045;
}

.body-dark .rec-button {
  background-color: #704264;
}

.body-dark .rec-button:hover {
  background-color: #683e5e;
}

.body-light .trending-button {
  background-color: #4c545b;
}

.body-dark .trending-button {
  background-color: #683e5e;
}

.w-full.overflow-hidden.p-4.text-center h2 {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* Limit to 2 lines */
  -webkit-box-orient: vertical; 
  overflow: hidden;
} 